[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "solidity_quiz/852f5836/usdc/usdc/lib/forge-std"]
	path = solidity_quiz/852f5836/usdc/usdc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity_quiz/852f5836/usdc/usdc_imply/lib/forge-std"]
	path = solidity_quiz/852f5836/usdc/usdc_imply/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sol_quiz/852f5836_2/lib/forge-std"]
	path = sol_quiz/852f5836_2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sol_quiz/852f5836_2/lib/openzeppelin-contracts"]
	path = sol_quiz/852f5836_2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry_quiz/7bd246d8/lib/forge-std"]
	path = foundry_quiz/7bd246d8/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_quiz/7bd246d8/lib/openzeppelin-contracts"]
	path = foundry_quiz/7bd246d8/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry_quiz/fuzz/lib/forge-std"]
	path = foundry_quiz/fuzz/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_quiz/08973815/lib/forge-std"]
	path = foundry_quiz/08973815/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dapp_quiz/56e455b3/lib/forge-std"]
	path = dapp_quiz/56e455b3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dapp_quiz/class_demo_sol/lib/forge-std"]
	path = dapp_quiz/class_demo_sol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
